<%= bar_chart Sale.group(:date_of_purchase).sum(:invoice_amount), :library => {:colors => ["#DF151C"]} %>
<div class="panel onwhole">
	<%#= line_chart Sale.group_by_week(:date_of_purchase).count %>
</div>