<!--dashboard-->
        <div class="container wrap">
          <div class="row">
            <div class="onethird wrap">
              <div class="panel shadow">
                <div class="paneltitle">Recent Activities</div>
                <div class="panelbody">
                  <ul>
                    <li>blah blah for blah blah</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="twothird wrap">
              <div class="panel shadow">
                <div class="panelbody">
                  <div class="onethird">insert graph
                  </div>
                  <div class="onethird">insert graph
                  </div>
                  <div class="onethird">insert graph
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="whole wrap">
              <div class="panel shadow">
                <div class="panelbody">
                  insert line graph
                </div>
                <div class="panelfooter">
                  insert week
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="onehalf wrap">
              <div class="panel shadow">
                <div class="panelbody">
                  map
                </div>
              </div>
            </div>
            <div class="onehalf wrap">
              <div class="panel">
                <div class="panelbody">
                  store stat
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--end dashboard-->