<div class="container">
  <div id="normaltable" class="fourfifth wrap">
      <!--table searh bar-->
      <form class="search">
              <input type="text" placeholder="Search Keyword">
            <button class="lmargin wfont" type="submit">Search</button>
          </form>
      <table id="salescontent" class="sortable">
        <thead>
          <!--table headers-->
          <tr>
            <th class="wfont">Dealer Name</th>
            <th class="wfont">Description</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% @dealers.each do |dealer| %>
          <tr>
            <td><%= dealer.dealer_name %></td>
            <td><%= dealer.description %></td>
            <td><%= link_to "Edit", edit_dealer_path(dealer.id)%></td>
            <td><%= link_to "Destroy", dealer_path(dealer.id), :method => :delete, :data => { :confirm => "Are you sure?", :class => "strong" } %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>
</div>