<div class="container">
  <div id="normaltable">
    <!--table searh bar-->
    <form class="search">
            <input type="text" placeholder="Search Keyword">
          <button class="lmargin wfont" type="submit">Search</button>
        </form>
    <table id="salescontent" class="sortable">
      <thead>
        <!--table headers-->
        <tr>
          <th class="wfont">SKU</th>
          <th class="wfont">Name</th>
          <th class="wfont">Description</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @products.each do |product| %>
        <tr>
          <td><%= product.SKU %></td>
          <td><%= product.name %></td>
          <td><%= product.description %></td>
          <td><%= link_to "Destroy", product_path(product.SKU), :method => :delete, :data => { :confirm => "Are you sure?", :class => "strong" } %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>